body{
  display: flex;
  justify-content: center;
}
.App {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}
.App > div {
  margin-right: 50px;
}
.App h2 {
  color: rgb(44, 44, 46)
}
.App li {
  color: rgb(44, 44, 46);
}
.error {
  border: red 1px solid;
}
.error-message {
  color: red;
  padding-left: 15px;
}
.active-filter {
  background-color: rgb(180, 155, 109);
}
.is-done{
  opacity: 0.5;
}
.input-block{
  display: flex;
  justify-content:space-around;
}

.bg-card {
  background: rgba(29, 121, 121, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(29, 121, 121, 0.3);

  overflow-wrap: break-word;
  flex-wrap: wrap;
  min-width: 300px;
  max-width: 300px;
  height: min-content;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
@media (max-width: 960px) {
  .App {
    row-gap: 30px;
  }
}

